.wrap {
  background-color: #ffffff;
}

.main-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  padding: 20px 0;
  &__logo {
    img {
      display: block;
      max-width: 100%;
    }
  }
  &__info {
    display: flex;
    flex-flow: row nowrap;
    img {
      display: inline-block;
      margin-right: 15px;
    }
    p {
      color: #010101;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 600;
    }
  }
  &__call {
    display: flex;
    flex-flow: row wrap;
    img {
      display: inline-block;
      margin-right: 15px;
    }
    p {
      color: #282828;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 700;
    }
    a {
      display: inline-block;
      margin-left: 35px;
      padding: 12px 28px;
      border-radius: 3px;
      background-color: #bf2529;
      color: #fffffe;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.main-nav {
  display: flex;
  flex-flow: row wrap;
  margin: 0 40px;
}

.main-nav-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex: 1 1 auto;
}

.main-nav-basket {
  display: flex;
  margin-left: 60px;
  border-radius: 3px;
  div:first-child {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 80px;
    padding: 10px;
    border-radius: 3px 0 0 3px;
    background-color: #e9e8e8;
  }
  div:last-child {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 80px;
    padding: 10px;
    border-radius: 0 3px 3px 0;
    background-color: #f5f5f5;
  }
  img {
    max-width: 100%;
  }
  span {
    display: block;
    margin-bottom: 5px;
    color: #282828;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    color: #797979;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
  }
}

.nav-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  &_active {
    color: #bf2529 !important;
  }
  li {
    a {
      display: inline-block;
      padding: 20px;
      color: #282828;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.nav-search {
  div {
    display: flex;
    align-items: center;
    position: relative;
    input {
      flex: 1 1 auto;
      padding: 12px 20px;
      border-radius: 3px;
      border: 1px solid #c9c9c9;
      background-color: #ffffff;
      outline: none;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #bf2529;
      }
    }
    button {
      display: inline-block;
      position: absolute;
      top: 1px;
      right: 10px;
      padding: 12px;
      border: none;
      outline: none;
      background: #ffffff;
    }
  }
}

#homeCarousel {
  margin: 0 40px;
}

.home-sec {
  margin: 0 40px;
  padding: 75px 0;
  &_light {
    margin: 0;
    padding: 75px 40px;
    background-color: #f5f5f5;
  }
}

.home-title {
  display: block;
  margin-bottom: 35px;
  color: #282828;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.home-features-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.home-features-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 170px;
  margin-bottom: 20px;
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 25px;
  }
  span {
    display: block;
    margin-bottom: 10px;
    color: #282828;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
  }
  p {
    margin: 0;
    color: #7f7f7f;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
  }
}

.home-product-cards {
  display: flex;
  flex-flow: row wrap;
}

.home-product-card {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 280px;
  margin: 0 15px 15px 0;
  padding: 10px 20px 35px 20px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  transition: all 0.2s ease-out;
  &:hover {
    box-shadow: 0 4px 21px #d8d8d8;
  }
  img:first-child {
    display: block;
    width: 100%;
    height: 145px;
    object-fit: contain;
    object-position: center;
  }
  a {
    width: 100%;
  }
  span {
    display: block;
    margin: 15px 0;
    height: 60px;
    overflow: hidden;
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
  }
  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    img:first-child {
      display: inline-block;
      width: 12px;
      height: 12px;
    }
    p {
      margin: 0;
      color: #000000;
      font-family: "Open Sans";
      font-size: 24px;
      font-weight: 700;
    }
    a {
      display: inline-block;
      width: auto;
      height: auto;
      margin: 0;
      padding: 10px 36px;
      border-radius: 3px;
      background-color: #bf2529;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
    }
  }
}

.home-articles-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.home-articles-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 280px;
  margin-bottom: 20px;
  transition: all 0.2s ease-out;
  &:hover {
    img {
      -webkit-filter: brightness(80%);
    }
  }
  img {
    display: block;
    width: 100%;
    height: 190px;
    border-right: 3px;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s ease-out;
  }
  &__title {
    display: block;
    margin: 30px 0 15px;
    color: #010203;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
  }
  p {
    color: #010203;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    a {
      color: #010203;
      text-decoration: underline;
    }
  }
}

.home-customers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.home-customers-card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 75px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  background-color: #ffffff;
  transition: all 0.2s ease-out;
  &:hover {
    box-shadow: 0 4px 9px #d8d8d8;
    border-color: #ffffff;
  }
  img {
    display: block;
    width: 135px;
    height: 45px;
    object-fit: contain;
    object-position: center;
  }
}

.home-seo {
  margin: 0 40px;
  padding: 70px 0;
  color: #505050;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  &_bordered {
    display: block;
    border-radius: 3px;
    border: 1px solid #bf2529;
    background-color: rgba(191, 37, 41, 0);
    padding: 20px 90px 20px 30px;
    color: #505050;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
  p {
    margin-bottom: 25px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    margin-bottom: 15px;
    color: #282828;
    font-family: "Open Sans";
    font-weight: 700;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
  blockquote {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    padding-left: 70px;
    border: none;
    color: #010101;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 35px;
      height: 30px;
      left: 0;
      top: 0;
      background: url('../images/icon_seo_q.png') no-repeat center;
    }
  }
}

.home-seo__title {
  display: block;
  margin-bottom: 30px;
  color: #282828;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
}

.main-footer {
  width: 100%;
  padding: 45px 0 55px;
  background-color: #242424;
}

.main-footer-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.main-footer__logo {
  display: inline-block;
  img {
    max-width: 100%;
  }
}

.main-footer__search {
  div {
    display: flex;
    align-items: center;
    position: relative;
    input {
      min-width: 270px;
      padding: 12px 20px;
      border-radius: 3px;
      border: 1px solid #393939;
      background-color: #242424;
      outline: none;
      color: #9a9999;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #bf2529;
      }
    }
    button {
      display: inline-block;
      position: absolute;
      top: 1px;
      right: 10px;
      padding: 12px;
      border: none;
      outline: none;
      background: #242424;
    }
  }
}

.main-footer__info {
  display: flex;
  flex-flow: row nowrap;
  img {
    display: inline-block;
    margin-right: 15px;
  }
  p {
    color: #9a9999;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
  }
}

.main-footer__call {
  display: flex;
  flex-flow: row wrap;
  img {
    display: inline-block;
    margin-right: 15px;
  }
  p {
    color: #9a9999;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
  }
  a {
    display: inline-block;
    margin-left: 35px;
    padding: 12px 28px;
    border-radius: 3px;
    background-color: #bf2529;
    color: #fffffe;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
}

.main-footer-nav {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 0;
  list-style: none;
  li {
    a {
      display: inline-block;
      padding: 25px;
      color: #9a9999;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.main-footer-creators {
  width: 100%;
  color: #676767;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  a {
    color: #676767;
    text-decoration: underline;
  }
}

.main-breadcrumps {
  display: block;
  margin: 0 40px 70px 40px;
  padding: 18px 30px;
  border-radius: 3px;
  background-color: #f5f5f5;
  color: #616161;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  a {
    color: #616161;
    text-decoration: underline;
  }
  span {
    display: inline-block;
    margin: 0 10px;
  }
}

.page-description {
  margin-bottom: 50px;
  padding: 0 40px;
  color: #505050;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  p {
    max-width: 860px;
    margin: 0;
  }
  img {
    max-width: 100%;
  }
}

.page-description__title {
  display: block;
  margin-bottom: 25px;
  color: #282828;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
}

.category-cards {
  display: flex;
  flex-flow: row wrap;
  padding: 0 40px;
}

.category-card {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 265px;
  margin: 0 30px 30px 0;
  border-radius: 3px;
  background: #f5f5f5;
  transition: all 0.2s ease-out;
  &:hover {
    span {
      background-color: #999999;
      color: #ffffff;
    }
  }
  img {
    display: block;
    width: 230px;
    margin: 10px;
    height: 150px;
    border-radius: 3px 3px 0 0;
    object-fit: contain;
    object-position: center;
    transition: all 0.2s ease-out;
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 10px;
    overflow: hidden;
    border-right: 0 0 3px 3px;
    background: #eae9e9;
    text-align: center;
    color: #242424;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-out;
  }
}

.news-cards {
  padding: 0 40px 50px 40px;
}

.news-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 24px 60px;
  border-radius: 3px;
  background-color: #f5f5f5;
  transition: all 0.2s ease-out;
  &:hover {
    span {
      color: #bf2529;
    }
  }
  div {
    display: inline-block;
  }
  div:first-child {
    img {
      width: 210px;
      height: 135px;
      margin-right: 80px;
      object-fit: cover;
      object-position: center;
      border-radius: 3px;
    }
  }
  div:last-child {
    flex: 1 1 auto;
  }
  span {
    display: block;
    margin-bottom: 25px;
    color: #505050;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    transition: all 0.2s ease-out;
  }
  p {
    margin: 0;
    color: #505050;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400
  }
}

.page-description__subcategories {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  list-style: none;
  &_active {
    background-color: #989898 !important;
    color: #ffffff !important;
  }
  li {
    a {
      display: inline-block;
      margin: 0 15px 15px 0;
      padding: 12px 22px;
      border-radius: 999rem;
      background-color: #f5f5f5;
      color: #282828;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:hover {
        box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.goods-main {
  width: 100%;
  padding: 25px 40px;
  background: #f5f5f5;
}

.goods-pre {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.goods__sort {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
  &_active {
    border: none !important;
    color: #bf2529 !important;
  }
  p {
    display: inline-block;
    color: #282828;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
  }
  a {
    display: inline-block;
    margin: 0 15px;
    border-bottom: 1px dashed #bf2529;
    color: #282828;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
  select {
    display: inline-block;
    margin: 0 15px;
    border: none;
    background: transparent;
    border-bottom: 1px dashed #bf2529;
    color: #282828;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
}

.main-pagination {
  display: inline-block;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  list-style: none;
  &_active {
    border: 1px solid #e0e0e0 !important;
    background-color: #989898 !important;
    color: #ffffff !important;
  }
  li {
    display: inline-block;
    a {
      display: inline-block;
      padding: 6px 10px;
      border: 1px solid #e0e0e0;
      background-color: #f5f5f5;
      color: #848484;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:hover {
        border-color: #bf2529;
        color: #bf2529;
      }
    }
  }
}

.goods-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.goods-card {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 279px;
  margin: 0 15px 15px 0;
  padding: 10px 20px 35px 20px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  transition: all 0.2s ease-out;
  &:hover {
    box-shadow: 0 4px 21px #d8d8d8;
  }
  img:first-child {
    display: block;
    width: 100%;
    height: 145px;
    object-fit: contain;
    object-position: center;
  }
  a {
    display: block;
    margin: 15px 0;
    height: 60px;
    overflow: hidden;
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
  }
  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    img:first-child {
      display: inline-block;
      width: 12px;
      height: 12px;
    }
    p {
      margin: 0;
      color: #000000;
      font-family: "Open Sans";
      font-size: 24px;
      font-weight: 700;
    }
    a {
      display: inline-block;
      height: auto;
      margin: 0;
      padding: 10px 36px;
      border-radius: 3px;
      background-color: #bf2529;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
    }
  }
}

.good-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px 30px 40px;
}

.good-main__slider {
  display: flex;
  align-items: flex-start;
  width: 360px;
  margin-right: 45px;
}

.good-main__description {
  max-width: 780px;
  flex: 1 1 auto;
  color: #505050;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    margin-bottom: 20px;
    color: #282828;
    font-family: "Open Sans";
    font-weight: 700;
  }
  h1 {
    display: block;
    font-size: 30px;
  }
  p {
    margin-bottom: 25px;
  }
}

.good-main__buy {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-radius: 3px;
  .input-group {
    max-width: 70px;
  }
}

.good__price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border-radius: 3px 0 0 3px;
  background-color: #e9e8e8;
  overflow: hidden;
  strong {
    color: #000000;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
  }
}

.good__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 90px;
  border-radius: 0 3px 3px 0;
  background-color: #f5f5f5;
  overflow: hidden;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    border: 1px solid #c9c9c9;
    background-color: rgba(140, 196, 1, 0);
    color: #282828;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    box-shadow: none;
    &:focus {
      box-shadow: none;
      border-color: #bf2529;
    }
  }
  .btn-default {
    border: 1px solid #c9c9c9;
    background-color: #f5f5f5;
    color: #bf2529;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    &:hover {
      border: 1px solid #c9c9c9;
      background-color: #e9e8e8;
    }
  }
}

.good-control__buy {
  display: inline-block;
  margin-left: 35px;
  padding: 10px 26px;
  border: none;
  border-radius: 3px;
  background: #bf2529;
  color: #fffffe;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

.good-info {
  color: #505050;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  table {
    margin-bottom: 50px;
    color: #282828;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 36px;
  }
  tr {
    padding-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
}

.good-info__title {
  display: block;
  margin-bottom: 60px;
  color: #282828;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
}

.sale-article {
  width: 100%;
  max-width: 800px;
  padding: 0 40px 40px 40px;
  &_bordered {
    display: block;
    border-radius: 3px;
    border: 1px solid #bf2529;
    background-color: rgba(191, 37, 41, 0);
    padding: 20px 90px 20px 30px;
    color: #505050;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
  p {
    margin-bottom: 25px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    margin-bottom: 15px;
    color: #282828;
    font-family: "Open Sans";
    font-weight: 700;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
  blockquote {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    padding-left: 70px;
    border: none;
    color: #010101;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 35px;
      height: 30px;
      left: 0;
      top: 0;
      background: url('../images/icon_seo_q.png') no-repeat center;
    }
  }
}

.sale-head {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 50px;
}

.sale-title {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 450px;
  height: 245px;
  padding: 28px 100px 28px 28px;
  color: #ffffff;
  background: url('../images/sale_bg.png') no-repeat center;
  background-size: 100% 100%;
}

.sale-img {
  display: inline-block;
  width: 336px;
  height: 336px;
  margin-left: -100px;
  border-radius: 999rem;
  box-shadow: 0 13px 24px rgba(0, 0, 0, 0.18);
  img {
    display: block;
    width: 336px;
    height: 336px;
    object-fit: cover;
    object-position: center;
  }
}

.sale-title-head {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 34px;
  font-size: 20px;
  p {
    height: 102px;
    overflow: hidden;
  }
}

.sale-title__pre {
  display: block;
  margin-bottom: 16px;
  font-size: 33px;
}

.sale-title-foot {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  p {
    margin: 0;
    font-size: 18px;
    color: #ffffff;
  }
}

.catalog-cards {
  position: relative;
}

.catalog-card {
  display: block;
  width: 100%;
  margin-bottom: 35px;
  padding: 15px 80px 25px 35px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    transition: all 0.15s ease-out;
    &:hover {
      color: #bf2529;
      text-decoration: none;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__img {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 190px;
    &:hover {
      .catalog-card__img-zoom {
        transform: scale(1.1);
      }
    }
  }
  &__img-this {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  &__img-zoom {
    display: block;
    position: absolute;
    width: 31px;
    height: 31px;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    transition: all 0.15s ease-out;
  }
  &__buy {
    display: inline-block;
    width: 250px;
    height: 180px;
    border-radius: 3px;
  }
  &__price {
    display: block;
    width: 100%;
    padding: 36px;
    border-radius: 3px 3px 0 0;
    background-color: #e9e8e8;
    color: #000000;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    span {
      margin-right: 5px;
    }
  }
  &__amount {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 24px;
    border-radius: 0 0 3px 3px;
    background-color: #f5f5f5;
    .form-control {
      height: 42px !important;
    }
    .bootstrap-touchspin .input-group-btn-vertical>.btn {
      padding: 10px !important;
    }
    input {
      border: 1px solid #c9c9c9;
      background-color: rgba(140, 196, 1, 0);
      color: #282828;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 700;
      box-shadow: none;
      &:focus {
        box-shadow: none;
        border-color: #bf2529;
      }
    }
    .btn-default {
      border: 1px solid #c9c9c9;
      background-color: #f5f5f5;
      color: #bf2529;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 700;
      &:hover {
        border: 1px solid #c9c9c9;
        background-color: #e9e8e8;
      }
    }
  }
  &__count {
    max-width: 60px;
    display: inline-block;
  }
  &__btn {
    display: inline-block;
    margin-left: 16px;
    padding: 10px 26px;
    border: none;
    border-radius: 3px;
    background: #bf2529;
    color: #fffffe;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
  &__info {
    display: inline-block;
    flex: 1 1 auto;
    max-width: 350px;
    overflow: hidden;
    color: #383838;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    i {
      font-weight: 400;
    }
    a {
      display: inline-block;
      color: #bf2529;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 300;
      border-bottom: 1px dashed #bf2529;
      transition: all 0.15s ease-out;
      span {
        margin-right: 10px;
      }
      &:hover {
        border-color: transparent;
      }
    }
  }
  &__info-row {
    display: block;
    padding: 6px 20px;
    border-bottom: 1px solid #e3e3e3;
  }
  &__info-text {
    overflow: hidden;
  }
}