@media (min-width: 1200px) {
  .container {
    width: 1300px;
  }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-header {
    justify-content: space-around;
  }
  .main-header__logo {
    margin-bottom: 10px;
  }
  .main-header__call {
    justify-content: center;
  }
  .main-header__info {
    justify-content: center;
  }
  .main-header__call a {
    margin: 5px;
  }
  .nav-menu {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    li {
      a {
        margin: 0;
        padding: 6px 12px;
      }
    }
  }
  .main-nav-basket {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  #homeCarousel {
    margin: 0;
  }
  .main-header {
    margin: 0 20px;
    padding: 10px 0;
  }
  .main-nav {
    margin: 0 20px;
  }
  .home-sec {
    margin: 0 20px;
    padding: 20px 0;
  }
  .home-sec_light {
    margin: 0;
    padding: 20px 20px;
  }
  .home-title {
    margin-bottom: 20px;
  }
  .home-features-cards {
    justify-content: space-around;
  }
  .home-product-cards {
    justify-content: space-around;
  }
  .home-product-card {
    margin-right: 0;
  }
  .home-articles-cards {
    justify-content: space-around;
  }
  .home-seo {
    margin: 0 20px;
    padding: 20px 0;
  }
  .home-seo__title {
    margin-bottom: 20px;
  }
  .main-footer {
    padding: 20px 0;
  }
  .main-footer__search {
    margin: 10px 0;
  }
  .main-footer-nav {
    margin: 10px 0;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    li {
      a {
        margin: 0;
        padding: 6px 12px;
      }
    }
  }
  .main-breadcrumps {
    margin: 0 20px 20px 20px;
  }
  .page-description__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .page-description {
    margin-bottom: 20px;
  }
  .category-cards {
    justify-content: space-around;
  }
  .news-card {
    margin-bottom: 20px;
    padding: 20px;
    span {
      margin-top: 10px;
    }
  }
  .page-description__subcategories {
    justify-content: space-around;
  }
  .goods__sort {
    margin-bottom: 10px;
  }
  .goods-cards {
    justify-content: space-around;
  }
  .good-main__description h1 {
    margin-top: 10px;
    font-size: 24px;
  }
  #sync1 {
    display: inline-block !important;
    max-width: 205px !important;
    height: 205px !important;
    margin-top: -5px;
  }
  #sync1 .item {
    max-width: 200px !important;
    height: 200px !important;
  }
  .tab-content {
    padding: 20px;
  }
  .nav-tabs {
    padding-left: 20px;
  }
  .good-info__title {
    margin-bottom: 20px;
  }
  .good-info table {
    margin-bottom: 20px;
  }
  .sale-head {
    margin-bottom: 20px;
  }
  .sale-img {
    width: 100%;
    height: 300px;
    margin: 0;
    border-radius: 0;
    img {
      width: 100%;
      height: 300px;
      border-radius: 0;
    }
  }
  .sale-title {
    padding: 20px;
  }
  .sale-title-head p {
    height: auto;
  }
  .sale-title {
    width: 100%;
    height: auto;
  }
  .main-header__info p {
    font-size: 11px;
  }
  .main-header__call p {
    font-size: 14px;
  }
  .main-header__call {
    br {
      display: none;
    }
  }
  .main-header__call {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    div:first-child {
      position: absolute;
      left: -30px;
      top: -2px;
    }
  }
  .nav-search {
    flex: 1 1 auto;
    margin-bottom: 5px;
  }
  .main-nav-block {
    width: 100%;
  }
  .navbar-toggle {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 10px;
  }
  .news-card {
    flex-flow: row wrap;
    img {
      margin-right: 0;
    }
  }
  .catalog-card {
    margin-bottom: 15px;
    padding: 15px;
  }
  .catalog-card__row {
    flex-flow: column nowrap;
    align-items: center;
  }
  .catalog-card__buy {
    margin: 20px 0;
  }
  .catalog-card__price {
    padding: 20px;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}