.nav>li>a:focus,
.nav>li>a:hover {
  background-color: transparent;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: transparent;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  background-color: #565656;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  &:before {
    display: block;
    position: absolute;
    content: '';
    top: -13px;
    left: 20%;
    width: 11px;
    height: 13px;
    background: url('../images/icon_triangle.png') no-repeat center;
  }
  li {
    a {
      display: flex;
      align-items: center;
      padding: 8px 14px;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 400;
      text-transform: none;
      img {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

.carousel {
  overflow: hidden;
}

.carousel-control {
  max-width: 40px;
  opacity: 0.8;
}

.carousel-control.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  img {
    margin-left: -25px;
  }
}

.carousel-control.right {
  background: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
    margin-right: -25px;
  }
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  max-width: 630px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 40px;
  justify-content: center;
  align-items: center;
  background: url('../images/slider_bg.png') no-repeat center;
  background-size: cover;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  p {
    max-width: 330px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  a {
    display: inline-block;
    padding: 12px 22px;
    border-radius: 3px;
    border: 1px solid #ff1b26;
    background-color: rgba(14, 0, 0, 0);
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    &:hover {
      background-color: #ff1b26;
      color: #ffffff;
    }
  }
}

.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 3px 0 0 3px;
}

#sync1 .item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 270px !important;
  height: 265px !important;
  border-radius: 3px;
  border: 1px solid #e9e8e8;
  background-color: #ffffff;
  margin: 5px;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s ease-out;
  img {
    display: block;
    width: 260px !important;
    height: 255px !important;
    object-fit: contain;
    object-position: center;
  }
}

.good__zoom {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  bottom: 10px;
  right: 10px;
  background: url('../images/icon_zoom.png') no-repeat center;
}

#sync2 {
  padding-left: 10px;
}

#sync2 .item {
  width: 75px;
  height: 70px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid #e9e8e8;
  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  &:hover {
    border: 1px solid #c6c6c6;
  }
  img {
    display: block;
    width: 100%;
    height: 65px;
    object-fit: cover;
    object-position: center;
  }
}

#sync2 .synced .item {
  opacity: 0.5;
}

.lb-data .lb-close {
  background-size: contain;
}

#sync1 {
  display: inline-block !important;
  width: 275px !important;
  height: 265px !important;
  margin-top: -5px;
}

#sync2 {
  display: inline-block !important;
  width: 100px !important;
}

#sync2 .owl-wrapper {
  display: inline-flex !important;
  flex-flow: column nowrap !important;
  width: 100px !important;
  height: 260px !important;
  overflow: auto;
}

#sync2 .owl-wrapper-outer {
  width: 100px !important;
}

.tab-content {
  padding: 60px 40px 50px 40px;
  background-color: #f5f5f5;
}

.nav-tabs {
  padding-left: 80px;
  border: none;
}

.nav-tabs>li>a {
  padding: 12px 35px;
  //box-shadow: 10px -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
  background-color: #e9e8e8;
  color: #282828;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  &:focus {
    opacity: 1 !important;
  }
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  border: none;
  background-color: #f5f5f5;
}

.nav-tabs>li>a:hover {
  border-color: transparent;
}

.nav-tabs>li {
  margin-bottom: -2px;
}

.nav-tabs>li>a {
  margin-right: 0;
}

.nav>li>a:focus,
.nav>li>a:hover {
  background: #e3e3e3;
}

.nav>li>a:focus,
.nav>li>a:hover {
  background-color: transparent;
}