// bower:scss
// endbower
body {
  background: #f4f4f4 url('../images/bg.png') repeat;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #282828;
  a {
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
    &:active,
    &:focus {
      text-decoration: none;
      opacity: 0.6;
    }
    * {
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }
      &:active,
      &:focus {
        text-decoration: none;
        opacity: 0.6;
      }
    }
  }
  button {
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
    &:active,
    &:focus {
      text-decoration: none;
      opacity: 0.6;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 15px;
  color: #282828;
  font-family: "Open Sans";
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 10px;
}

@import "_atoms.scss";
@import "_restyle.scss";
@import "_responsive.scss";